<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant</title>
    <style>
        * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner {
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://media.istockphoto.com/id/1293762741/photo/modern-living-room-interior-3d-render.jpg?b=1&s=170667a&w=0&k=20&c=Ko289acalSrEKwYI5sb20u2WQa7KS9L-_0Ug4u2iEmc=);
    background-size: cover;
    background-position: center;
}

#webname {
    display: flex;
    width: 60%;
    font-family: cursive;
    color: goldenrod;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 13vh;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    font-family: cursive;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: goldenrod;
    font-family: cursive;
    font-size: medium;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: goldenrod;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar ul li button {
    outline: none;
    border: none;
    background: transparent;
    font-family: cursive;
    font-size: medium;
    color: goldenrod;
    cursor: pointer;
}


.main
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title
{
    background-color: transparent;
    color: white;
    border: 5px double white;
    border-left: 0;
    border-right: 0;
    padding: 3vw;
    margin: 7vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.title h5
{
    align-self: center;
    padding-top: 3vh;
}
.properties
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 7vh;
}
.propDetails
{
    background-color: rgba(0,0,0,0.8);
    width: 20vw;
    height: 10vh;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 1vw;
    margin: 0.5vh;
}
.propDetails:hover
{
    cursor: pointer;
}
.submitButton
{
    width: 20vw;
    height: 10vh;
    padding: 1vw;
    margin: 0.5vh;
    display: inline-table;
    font-size: medium;
    background-color: goldenrod;
    color: black;
    border: none;
}
.submitButton:hover
{
    cursor: pointer;
}
ul
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formdetails
{
    height: 70vh;
    width: 90vw;
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 5vw;
    padding-bottom: 5vw;
    position: relative;
    left: 5vw;
}
.submit
{
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <a href="/home"><img
                    src="https://img.freepik.com/premium-vector/real-estate-logo-house-logo-home-logo-sign-symbol_565585-829.jpg?w=360"
                    class="logo"></a>
            <h1 id="webname">DWELL WELL</h1>
            <ul id="ul">
                <li><a href="/home" class="li">HOME</a></li>
                <li><a href="/about" class="li">ABOUT</a></li>
                <li><a href="/signup" class="li">SIGNUP</a></li>
                <li><a href="/home" class="li">LOGOUT</a></li>
            </ul>
        </div>
            <br>
            <form action="/users">
                <div class="tenantform">
                    <div class="formdetails">
                        <label for="room" style="padding-top: 3vh;"><b>Enter Rooms</b></label>
                        <input type="text" placeholder="Enter Room" name="Rooms" id="room" required>

                        <label for="locality"><b>Locality</b></label>
                        <input type="text" placeholder="Enter Locality" name="Locality" id="locality" required>

                        <label for="builtarea"><b>Builtarea</b></label>
                        <input type="text" placeholder="Enter Built Area" name="BuiltArea" id="builtarea" required>
                    </div>
            <div class="submit">
                <button class="submitButton"><a style="text-decoration: none; color: black;" href="./users.pug">FIND A HOME</a></button>
            </div>
            </div>
            {{#if mesg1}}
            <h1>Found</h1>
            {{/if}}

            {{#if mesg2}}
     <h3>No searches found!!</h3>
           {{/if}}
            </form>
        </div>
    </div>

</body>
</html>